body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #333;
}

section {
  max-width: 600px;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

p {
  font-size: 18px;
  color: #555;
}

ol {
  margin-top: 10px;
  padding-left: 20px;
}

li {
  font-size: 16px;
  color: #333;
}

#returnToMenuButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#returnToMenuButton:hover {
  background-color: #45a049;
}

#returnToMenuButton a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: max-content;
  text-decoration: none;
}