body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section h1 {
  color: #3498db;
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.rules-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.rules-container ul li {
  background-color: #3498db;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rules-container ul {
  list-style-type: none;
  display: contents;
}

section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-family: 'Arial', sans-serif;
  width: 100%;
  margin-top: 50px;
}

p {
  font-size: 18px;
  color: #555;
}

li {
  font-size: 16px;
  color: #333;
}

.returnToMenuButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.returnToMenuButton:hover {
  background-color: #45a049;
}

.returnToMenuButton a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: max-content;
  text-decoration: none;
}